# Dependencies
node_modules/
package-lock.json
yarn.lock

# Environment
.env
.env.*

# Logs
*.log
npm-debug.log*

# OS
.DS_Store

# IDE
.vscode/
.idea/

# Build
dist/
build/

# Google API credentials
credentials.json
